// ===================
//  WRAPPER
// ===================
.main-contents {
  height: 100vh;
  overflow-y: scroll;
}

.sub-contents {
  width: min(30%, 350px);
  height: 100vh;
  position: relative;
  background: #333;
}

.wrapper {
  height: fit-content;
  width: min(100%, 720px);
  margin: 0 auto;
  padding-bottom: 30px;
}

h1 {
  margin-bottom: 0;
}

.title {
  margin-bottom: 0;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 12px;
  left: calc(1rem + 5px);

  img {
    display: inline-block;
    height: 56px;
    width: 56px;
    margin-right: 5px;
  }

  .logo-text {
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    padding-top: 3px;
  }
}

// ===================
//  SIDE BAR
// ===================
.sidebar {

  .sidebar-layout {
    margin-top: 70px;
  }

  .logo {
    position: absolute;
    top: 12px;
    left: calc(1rem + 5px);
  }

  .auth-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: solid 1px #fff;
    padding-bottom: 25px;
    margin-bottom: 30px;
  }

  .nav-btn {
    display: none;
  }

  .username {
    color: #fff;
    display: inline-block;
    width: calc(100% - 120px);
    overflow-wrap: break-word;
    margin-left: 20px;
    font-weight: bold;
    font-size: 24px;
  }

  .sidebar-menu {

    .nav-item {
      margin-bottom: 25px;
    }

    .nav-link {
      padding: 0;
    }
  }

  .f-search {
    width: 100%;
    margin-bottom: 25px;
  }
}

// ===================
//  FOOTER
// ===================
.w-footer {
  width: 100%;
  color: #ccc;
  position: absolute;
  bottom: 0;
  left: 0;
}

// ===================
//  TEXT
// ===================
.text_primary {
  font-size: 24px;
  font-weight: 600;
}

.invalid-massage {
  color: $red;
}

@media screen and (max-width: 768px) {
  .text_primary {
    font-size: 20px;
    font-weight: 600;
  }
}

@media screen and (max-width: 992px) {
  .main-contents {
    width: 100%;
    margin-top: 80px;
  }

  .sub-contents {
    height: 80px;
    width: 100vw;
    max-width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
  }

  .sidebar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 80px;
    margin-top: -1.5rem;

    .sidebar-layout {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row-reverse;
      margin-top: 0;
    }

    .logo {
      top: 13px;
      left: calc(1rem + 10px);

      span {
        display: none;
      }
    }

    .auth-info {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    .username {
      display: none;
    }

    .sidebar-icon {
      height: 50px;
      width: 50px;

      img {
        height: 50px;
        width: 50px;
      }
    }

    .nav-btn {
      height: 40px;
      width: 40px;
      display: block;
      margin: 5px 0 5px 15px;
      position: relative;
      transform: rotate(0);

      &.is_active {
        transform: rotate(180deg);
      }

      .nav-btn_inner {
        display: block;
        height: 16px;
        width: 16px;
        border-right: solid 2px #fff;
        border-bottom: solid 2px #fff;
        position: absolute;
        top: 8px;
        left: 0;
        right: 0;
        margin: auto;
        transform: rotate(45deg);
      }
    }

    .sidebar-menu {
      width: 0;
      background: #333;
      text-align: center;
      border-top: solid 1px #ccc;
      position: fixed;
      top: -100%;
      right: 0;
      opacity: 0;
      pointer-events: none;
      z-index: -1;

      &.is_active {
        width: min(100%, 300px);
        top: 80px;
        opacity: 1;
        pointer-events: all;
        z-index: 99;
      }


      .nav-item {
        margin-bottom: 0;
        padding: 1rem 0;
        border-bottom: solid 1px #ccc;

        &:hover {
          background: #222;
        }
      }

      .nav-item:last-child {
        border-bottom: 0;
      }
    }

    .f-search {
      margin-bottom: 0;
    }
  }

  .w-footer {
    display: none;
  }
}
